@font-face{
    font-family: "Cormorant";
    src: url("fonts/CormorantGaramond-Regular.ttf");
    font-style: normal;
}
@font-face{
    font-family: "Cormorant";
    src: url("fonts/CormorantGaramond-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "CrimsonText";
    src: url("fonts/CrimsonText-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "CrimsonText";
    src: url("fonts/CrimsonText-Regular.ttf");
    font-style: normal;
}
@font-face {
    font-family: "CrimsonText";
    src: url("fonts/CrimsonText-Italic.ttf");
    font-style: italic;
}
body {
    width: 95%;
    line-height: 1.5;
    margin-left: 0;
    font-family: "CrimsonText", serif;
    font-size: 1.25rem;
}
ol {

    margin-left: 0;
}

ol li {
    padding-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

ol span {
    display: block;
    text-indent: -1rem;
    padding-left: 1rem;
}
h2.title {
    width: 70%;
    text-align: center;
    font-weight: 500;
    font-family: "CrimsonText";
}


p.chorus{
    font-style: italic;
}

header {
    display: flex;
}
h2.hymn_no {
    font-family: "Cormorant";
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 200;
}

.footer-header {
	font-style: italic;
    font-weight: bold;
}

footer{
    margin-left: 1rem;
    padding-left: 1rem;
    font-size: 0.9rem;
    font-family: "Cormorant";
}

body.about p, body.about li {
    font-family: "CrimsonText", serif;
    font-size: 1.19rem;
    width: 95%;
    line-height: 1.15rem;
}

.about h1, .about h2, .about h3, .about h4 {
    font-family: "Cormorant";
    width: 95%;
}
