@font-face{
    font-family: "Cormorant";
    src: url("fonts/CormorantGaramond-Regular.ttf");
    font-style: normal;
}
@font-face{
    font-family: "Cormorant";
    src: url("fonts/CormorantGaramond-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "CrimsonText";
    src: url("fonts/CrimsonText-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "CrimsonText";
    src: url("fonts/CrimsonText-Regular.ttf");
    font-style: normal;
}
@font-face {
    font-family: "CrimsonText";
    src: url("fonts/CrimsonText-Italic.ttf");
    font-style: italic;
}
body {
    width: 95%;
    line-height: 1.5;
    margin-left: 0;
    font-family: "CrimsonText", serif;
    font-size: 1.2rem;
}
ol {

    margin-left: 0;
}

ol li {
    padding-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

span {
    display: block;
    text-indent: -1rem;
    padding-left: 1rem;
}
h2.title {
    width: 70%;
    text-align: center;
    font-weight: 500;
    font-family: "Cormorant";
}


p.chorus{
    margin-left: 1rem;
    margin-bottom: 1.5rem;
    font-style: italic;
}

header {
    display: flex;
}
h2.hymn_no {
    font-family: "Cormorant";
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 200;
}
