*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
keystore.properties
.idea/caches/
src/main/assets/all_hymns_v5.json
src/main/java/com/techbeloved/hymnbook/topics/
src/main/res/menu-night/
/.bitrise.secrets.yml
/bitrise.yml
/gradle.deps
/hs_err_pid4549.log
/hs_err_pid4923.log
/hs_err_pid8840.log
/hs_err_pid10681.log
/HymnbookActivity_robo_script.json
/app/release/app.aab
/app/google-services.json
/hs_err_pid8354.log
/replay_pid8354.log
/app/src/main/assets/sheets/wccrm_hymns_v1.zip
/app/src/main/assets/tunes/tunes_wccrm_midi_archive_hymns.zip
/app/src/main/assets/sheets/wccrm_hymns_v2.zip
/shared/build
/desktopApp/build
/iosApp/iosApp.xcworkspace/xcuserdata
/desktopApp/.appdata
/desktopApp/.tmp
/.kotlin/
/modules/media/build/
/modules/sheetmusic/build
/modules/media/src/iosMain/composeResources/files/yamaha_grand_piano.sf2
/modules/be-server/build
/iosApp/Pods/
*.xcuserdatad/
*.swp
!/iosApp/Pods/Manifest.lock
!/iosApp/Pods/Local Podspecs
!/iosApp/Pods/Pods.xcodeproj
!/iosApp/Pods/Target Support Files/shared
!/iosApp/Pods/Target Support Files/Pods-hymnbook/
!/iosApp/Pods/Pods.xcodeproj/project.pbxproj
/iosApp/hymnbook/GoogleService-Info.plist
/shared/src/commonMain/composeResources/files/sheets/wccrm_hymns_v2.zip
/shared/src/commonMain/composeResources/files/json/all_hymns_v6.json
/shared/src/commonMain/composeResources/files/tunes/tunes_wccrm_midi_archive_hymns.zip
/modules/media/src/iosMain/composeResources/files/soundfont.sf2
