name: Android CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    env:
      SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
      KEY_STORE_PASSWORD: ${{ secrets.KEY_STORE_PASSWORD }}
      KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
      ALIAS: ${{ secrets.ALIAS }}
      KEYSTORE: "android-signing-keystore.jks"
      HYMBOOK_GOOGLE_JSON: ${{ secrets.HYMBOOK_GOOGLE_JSON }}
    steps:
    - uses: actions/checkout@v3
    - name: set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: |
        export KEYSTORE=$(readlink -f $KEYSTORE)
        echo $KEYSTORE
        echo "$SIGNING_KEY" | base64 -d > "$KEYSTORE"
        echo "$HYMBOOK_GOOGLE_JSON" | base64 -d > app/google-services.json
        cat app/google-services.json

        ./gradlew assembleDebug assembleRelease
